PORT = 4000
NODE_ENV = DEVELOPMENT

DB_LOCAL_URI = mongodb://127.0.0.1:27017/Internship

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_TIME=90

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

EMAIL_USERNAME=your_email_username
EMAIL_PASSWORD=your_email_password
EMAIL_HOST=your_email_host
EMAIL_PORT=465
EMAIL_FROM=your_email_from

FRONTEND_URL="http://localhost:3000"

STRIPE_SECRET_KEY=your_stripe_secret_here
STRIPE_API_KEY=your_stripe_api_key 